# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# docker-compose becase we generate this file cia tools/generators/docker-compose.ts
docker-compose.yml

# docker container data
.neo4j/data
.neo4j/plugins
.neo4j/logs
.mailserver/data
.mailserver/state
.mailserver/logs
.parse/logs
# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.env
apps/pwa/src/environments/environment.dev.ts
